### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
src/main/resources/google-credentials.json
tokens/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
vosk-model*
*.mdl
*.conf
*.fst
*.int
*.txt  # si ce sont des fichiers du modèle
src/main/resources/vosk-model*/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store